:root {
	--black: #000;
	--white: #fff;
	--dark-1: #111;
	--dark-2: #222;
	--dark-3: #333;
	--dark-4: #444;
	--light-1: #e5e5e5;
	--light-2: #dddddd;
	--light-3: #adadad;
	--title-1: hsl(208deg 73% 54%);
	--title-2: hsl(208deg 73% 58%);
	--title-3: hsl(208deg 73% 62%);
	--title-4: hsl(208deg 73% 66%);
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	margin: 8px 0;
	text-transform: capitalize;
}
h1 {
	font-size: 2em;
	color: var(--title-1);
}
h2 {
	font-size: 1.75em;
	color: var(--title-2);
}
.tema > h2 {
	color: var(--white);
}
h3 {
	font-size: 1.5em;
	color: var(--title-3);
}
h4 {
	font-size: 1.35em;
	color: var(--title-4);
}
h5 {
	font-size: 1.15em;
	color: var(--title-4);
}
h6 {
	font-size: 1em;
	color: var(--title-4);
}
hr, section {
	clear: both;
}
section {
	padding: 5px;
}
body {
	font-family: sans-serif;
	background-color: var(--dark-1);
	color: var(--light-1);
}
.max {
	max-width: 1280px;
	width: 100%;
	padding: 0 128px;
	margin: 0 auto;
}
header {
	line-height: 50px;
	background-color: var(--dark-2);
	margin-bottom: 4px;
	position: sticky;
	top: 0;
	box-shadow: 0 0 2px var(--black);
	z-index: 1;
}
header .boton {
	white-space: nowrap;
}
header nav {
	width: 100%;
}
.mainContent {
	padding: 0 128px;
}
.container {
	width: 100%;
	margin: 0 auto;
}
a.boton {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: inherit;
}
nav a.boton {
	padding-left: 24px;
	padding-right: 24px;
	line-height: 40px;
	margin-bottom: 8px;
	border-radius: 4px;
	transition: .05s;
	white-space: nowrap;
}
nav a.boton:hover {
	background-color: var(--dark-4);
	transition: .05s;
}
nav a[href="#"] {
	background-color: var(--dark-3);
}
ul {
	list-style-type: none;
	/*position: sticky;
	top: 120px;*/
}
nav li a.boton {
	width: 100%;
}
.tema {
	padding: 12px 20px;
	border: 1px solid var(--black);
	max-width: calc(100% / 3 - 20px);
	margin: 10px;
	border-radius: 4px;
	background-color: var(--dark-2);
	transition: .05s;
}
.tema:hover {
	box-shadow: 0 0 5px var(--dark-3);
	color: var(--light-2);
	transition: .05s;
}
.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.between {
	justify-content: space-between;
}
.around {
	justify-content: space-around;
}
.center {
	justify-content: center;
}
.wrap {
	flex-wrap: wrap;
}
.tema-especifico nav {
	flex: .4;
}
.tema-especifico .content {
	flex: 1;
}
.content {
	padding-bottom: 8px;
	padding-left: 8px;
	padding-right: 8px;
	overflow-y: auto;
}
p {
	/*text-align: justify;*/
	color: var(--light-2);
}
.left {
	float: left;
}
.right {
	float: right;
}
.imagen img {
	max-width: 100px;
	width: 100px
}
.imagen.sizeBigger1 img {
	max-width: 160px;
	width: 160px;
}
.imagen.left img {
	margin-bottom: 8px;
	margin-right: 8px;
}
.imagen.right img {
	margin-bottom: 8px;
	margin-left: 8px;
}
p + .imagen img {
	margin-top: 8px
}
hr {
	background-color: var(--dark-4);
	height: 4px;
	border: 0;
	border-radius: 8px;
	margin: 8px 0;
}

@media only screen and (max-width: 1023px) {
	.max {
		padding: 0 50px;
	}
	header .between,
	nav.flex {
		justify-content: center;
	}
	nav a.boton {
		padding-left: 16px;
		padding-right: 16px;
	}
}
@media only screen and (max-width: 767px) {
	.max {
		padding: 0 25px;
	}
	h1 {
		font-size: 1.75em;
	}
	h2 {
		font-size: 1.35em;
	}
	.tema {
		max-width: 100%;
		width: 100%;
		margin: 10px 0;
	}
	header {
		flex-direction: column;
	}
}
@media only screen and (max-width: 425px) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.25em;
	}
	.tema-especifico {
		flex-direction: column;
	}
	.content {
		padding-left: 0;
	}
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-corner {
	background: transparent
}

::-webkit-scrollbar-thumb {
	min-height: 50px;
	border-radius: 20px;
	background-color: var(--light-3);
	border: 2px solid var(--dark-1);
}
