body {
	width: 100%;
	font-family: Verdana, Geneva, sans-serif;
}
.contenedor {
	border: none;
}
header {
	font-family: Sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: initial;
	margin: 0;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}
.elemento {
	width: 100%;
	margin: 0;
	border: 0;
	border-bottom: 1px solid lightgrey;
}
.elemento img {
	float: left;
	margin: 0;
	height: 50px;
	padding: 4px;
}
.masInfo {
	display: none;
}
