body {
	width: 700px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	margin: 10px auto;
}
.contenedor {
	overflow: auto;
	position: relative;
	padding: 10px;
	min-height: 500px;
	border: 1px solid #78a02b;
}
header {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	font-style: italic;
	font-weight: bold;
	color: #78a02b;
	margin: 0 30px 10px 30px;
}
.elemento {
	border: 1px solid lightgrey;
	width: calc(100% / 3 - 30px);
	margin: 0 15px;
	height: fit-content;
	padding: 4px;
	float: left;
	box-sizing: border-box;
	margin-bottom: 30px;
}
.elemento img {
	display: block;
	margin: 0 auto;
}
.elemento p {
	text-align: left;
	font-size: 12px;
	color: #50504d;
	margin-bottom: 0;
	line-height: 1.5;
}
.masInfo {
	position: absolute;
	bottom: 0;
	left: 10px;
	font-style: italic;
	clear: both;
}
