.card.shadow-sm:hover {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    transition: .15s;
}

.card-img-top {
    height: 350px;
    object-fit: cover;
}

.form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
}

.form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}
