body {
	margin: 0;
}
div {
	display: flex;
	margin: 0.5rem;
	padding: 1rem;
	border: 3px solid black;
	min-height: 1rem;
	flex-grow: 1;
}
.abuelo {
	background-color: hsl(0, 50%, 50%);
	flex-direction: column;
}
.padre {
	background-color: hsl(100, 50%, 50%);
}
.hijo {
	background-color: hsl(200, 50%, 50%);
}
