:root {
	--bgcolor1: #fff; /* #ededed */
	--color1: #dd6541;
	--color1-62: #dd65409e;
	--color2: #db5a33;
	--color3: #d95026;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
h1 {
	margin: 0;
	text-align: center;
	color: var(--color1);
	line-height: 80px;
}
img {
	width: 100%;
	margin: auto;
}
h2 {
	color: var(--color3);
	margin: 0 0 8px 0;
	text-align: center;
}
input {
	border: 1px solid #0000002e;
	font-size: 20px;
	line-height: 30px;
	border-radius: 4px;
	padding: 0 4px;
}
::-webkit-scrollbar-corner {
	background: transparent
}
::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 1px solid var(--bgcolor1);
	background-color: var(--color1);
}
.login {
	box-shadow: 0 0 3px var(--color1-62);
	position: relative;
	width: max-content;
	height: max-content;
	margin: auto;
	padding: 8px;
	border-radius: 8px;
}
button {
	margin-top: 8px;
	display: block;
	background-color: var(--color1);
	padding: 6px;
	border: 0;
	font-size: 16px;
	border-radius: 4px;
	color: var(--bgcolor1);
	transition: .15s;
	width: 100%;
}
button:hover {
	background-color: var(--color2);
	transition: .05s;
}
button:active {
	background-color: var(--color3);
	transition: .15s;
}