:root {
	--bgcolor1: #fff;
	--bgcolor2: #efefef;
	--color1: #dd6541;
	--color1-62: #dd65409e;
	--color2: #db5a33;
	--color3: #d95026;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.contenedor {
	font-family: sans-serif;
	overflow: hidden;
}
.contenedor > .productos {
	display: flex;
	max-width: 900px;
	margin: auto;
}
header {
	background-color: var(--color1);
	position: sticky;
	top: 0;
	width: 100%;
	height: 80px;
	margin-bottom: 20px;
}
h1 {
	margin: 0;
	text-align: center;
	color: var(--bgcolor1);
	line-height: 80px;
}
h2 {
	margin-bottom: 0;
	color: var(--color1);
	padding: 4px
}
.elemento {
	height: 400px;
	width: calc(100% / 3 - 8px);
	max-width: calc(100% - 8px);
	min-width: 150px;
	background-color: var(--bgcolor1);
	border-radius: 4px;
	float: left;
	padding: 10px;
	margin: 4px;
	position: relative;
	box-sizing: border-box;
}
.elemento div {
	height: 200px;
	max-width: 150px;
	display: flex;
}
img {
	width: 100%;
	margin: auto;
}
p {
	font-size: 14px;
	line-height: 1.3rem;
	overflow: scroll;
	max-height: 65px;
	margin: 8px 0;
}
::-webkit-scrollbar-corner {
	background: transparent
}
::-webkit-scrollbar {
	width: 6px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	border-radius: 20px;
	border: 1px solid var(--bgcolor1);
	background-color: var(--color1);
}
.name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 0;
}
.desc {
	color: #818181;
	margin-top: 0;
}
.price {
	font-weight: 700;
	font-size: 18px;
	position: absolute;
	bottom: 35px;
}
span {
	margin-top: 10px;
	display: inline-flex;
	padding: 4px;
	color: var(--bgcolor1);
	border: 1px solid var(--color1);
	color: var(--color1);
	border-radius: 2px;
}
.elemento button {
	position: absolute;
	bottom: 10px;
}
button {
	background-color: var(--color1);
	padding: 6px;
	border: 0;
	font-size: 16px;
	border-radius: 4px;
	color: var(--bgcolor1);
	transition: .15s;
}
button:hover {
	background-color: var(--color2);
	transition: .05s;
	transform: translateY(-2px);
}
button:active {
	background-color: var(--color3);
	transition: .15s;
}
.carrito {
	height: fit-content;
	min-width: 250px;
	box-shadow: 0 0 3px var(--color1-62);
	border-radius: 4px;
	position: relative;
}
.carrito img {
	float: left;
	height: auto;
	width: 70px;
	margin-right: 4px;
}
.productosCarrito {
	max-height: calc(500px - 50px);
	overflow-y: scroll;
	padding: 8px 4px 0 4px;
}
.prodCarrito, hr {
	clear: both
}
.carritoName {
	color: #888;
}
.carritoDesc {
	font-weight: 700;
	color: #333
}
.carritoDesc button:hover {
	transform: none;
}
.prodCarrito > div {
	float: left;
}
.prodCarrito p {
	margin: 0
}
.total {
	bottom: 0;
	width: -webkit-fill-available;
	background-color: var(--color2);
	color: var(--bgcolor1);
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 0 0 4px 4px;
}
.total button {
	margin-bottom: 6px;
	right: 0;
	width: 100%;
	background: var(--bgcolor1);
	color: var(--color1);
}
.total button:hover {
	transform: none;
	background-color: var(--bgcolor2);
}
.total p {
	line-height: 50px;
	margin: 0;
	padding: 0;
	font-weight: 700;
	font-size: 18px;
	word-break: break-all;
	overflow: hidden;
}
.cerrar {
	position: absolute;
	right: 40px;
	top: 0px;
	height: 100%;
}
.cerrar:hover {
	transform: none;
}
@media (max-width: 650px) {
	.elemento {
		width: 100%;
		height: fit-content;
	}
	.price {
		position: initial;
	}
	.elemento div {
		height: unset;
		max-width: unset;
	}
}