*,
::after,
::before {
	box-sizing: border-box;
}

body {
	background-image: url(imagenes/fondo.gif);
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container {
	background-color: white;
}

header {
	width: 100%;
	
}

header img {
	height: 100%;
	width: 100%;
	display: block;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

img {
	max-width: 100%;
}

.aside,
.info,
.image {
	padding: 0 6px 6px 6px;
}

.aside {
	background-color: #f2f7ff;
}

.aside,
.aside .more {
	border-bottom: 1px solid #444;
}

input[type="text"] {
	max-width: 100%;
}

.info p {
	text-align: justify;
}

.image {
	margin: auto;
}

footer {
	margin: 4px;
	border: 1px solid #444;
	text-align: center;
	color: #444;
	font-style: italic;
}

h1 {
	font-size: 1.5em;
	color: #444;
}
h2 {
	font-size: 1.3em;
	color: #444;
}

@media screen and (max-width: 699px) {
	.contents {
		flex-direction: column;
	}
	.aside {
		width: 100%;
	}
	.info {
		width: 100%;
	}
}

@media screen and (min-width: 700px) and (max-width: 899px) {
	.contents {
		display: inline-flex;
	}
	.aside {
		width: 25%;
		padding: 0;
		border-right: 1px solid #444;
	}
	.aside .more {
		-webkit-box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
		box-shadow: inset 0 0 50px 0 rgba(0, 0, 0, 0.4);
	}
	.aside .more h2 {
		display: none;
	}
	.aside ul {
		padding-left: 0;
		margin: 0;
	}
	.aside li {
		list-style-type: none;
		padding: 8px;
		text-transform: uppercase;
		font-weight: 700;
		border-bottom: 1px solid black;
	}
	.aside a {
		text-decoration: none;
		color: initial;
	}
	.search {
		padding: 6px;
	}
	.search h2 {
		font-size: 1.1em;
		margin: 0.5em 0;
	}
	.info {
		width: 75%;
	}
}

@media screen and (min-width: 900px) {
	.contents {
		flex-direction: row-reverse;
	}
	.aside {
		border-left: 1px solid #444;
	}
	.aside ul {
		padding-left: 1em;
		padding-bottom: 1em;
		margin: 0;
	}
	.aside h2 {
		margin: 0.5em 0;
	}
}
