a.text-decoration-none:not(.dropdown-toggle):hover {
	text-decoration-line: underline !important;
}

.text-shadow-1 {
	text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}
.text-shadow-2 {
	text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-3 {
	text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}
.text-shadow-dark-1 {
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);
}

.gradient-left {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0) 100%);
}
.gradient-right {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 60%);
}

.card.shadow-sm:hover {
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.card-cover > .img-cover > img {
	position: absolute;
	height: 100%;
}
.card-cover > .img-cover::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.125);
	z-index: 1;
}

.index-1 {
	z-index: 1;
}

.feature-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 4rem;
	height: 4rem;
	margin-bottom: 1rem;
	font-size: 2rem;
	color: #fff;
	border-radius: 0.75rem;
}

.card-img-top {
	height: 150px;
	object-fit: cover;
}

@media (min-width: 768px) {
	.topnavbar {
		height: 72px;
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1030;
	}
	.content-hero {
		height: calc(100vh - 72px);
	}
	.topnavbar + * {
		margin-top: 72px;
	}
}

.avatar {
	height: 3rem;
	width: 3rem;
	position: relative;
	display: inline-block;
	-ms-flex-negative: 0 !important;
	flex-shrink: 0 !important;
}

.avatar-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}

.left-0 {
	left: 0;
}

.right-0 {
	right: 0;
}
