:root {
	--color1: #111;
	--color2: #222;
	--color3: #333;
	--color4: #444;
	--blue1: #214a80;
}

*,
::after,
::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

.container {
	font-family: sans-serif;
	height: 100vh;
	background: var(--color1);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

form,
.consulta {
	display: flex;
	flex-direction: column;
	background-color: var(--color2);
	padding: 30px;
	border-radius: 4px;
	color: #fff;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.form-group:not(:last-child) {
	margin-bottom: 1rem;
}

.form-input {
	display: block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	background: none;
	border: none;
	border-bottom: 1px solid var(--color4);
	outline: none;
	color: inherit;
}

p {
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
}

.error {
	color: #dd2f2f;
}

.success {
	color: #1fc71f;
}

select {
	display: block;
	width: 100%;
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #b3b3b3;
	border-radius: 0.25rem;
	background-color: var(--color3);
}

option {
	color: inherit
}

button {
	background: var(--blue1);
	color: #dadada;
	border: none;
	border-radius: 4px;
	padding: 11px;
	width: 100%;
}

.signUp {
	text-align: center;
	font-size: 12px;
	color: #6f7a85;
	opacity: 0.9;
	text-decoration: none;
}

table {
	color: #dadada;
}

th, td {
	padding: 6px;
}
